* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #0000ff, #add8e6);
  color: white;
  text-align: center;
  margin-top: 150px;
  height: 100vh;
}
